[Desktop Entry]
Encoding=UTF-8
Name=Dynamic Window Manager
Comment=Runs the window manager defined by xsession script
Exec=/home/egor/.config/xorg/start.sh
Type=Application
